body {
    background-color: #DC143C;
}
#flex {
    display: flex;
    padding: 10px;
}
#back {
    display: flex;
    background-color: #CD5C5C;
}
nav {
    background-color: #FA8072;
}
main {
    background-color: #FF7F50;
}
h1 {
    color: #191970;
    text-align: center;
}
h2 {
    color: #4b0082;
    padding: 10px;
}
p {
    color: #4b0082;
    text-align: justify;
    padding: 10px;
}
img {
    padding: 10px;
}
h3 {
    color: #4b0082;
    text-align: center;
}